.calculator-popup {
    max-width: 800px;
    /* Increased by 200px */
    max-height: 1000px;
    /* Increased by 200px */
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.calculator-popup h2 {
    text-align: center;
    margin-bottom: 20px;
}

.calculator-popup label {
    display: block;
    margin-bottom: 5px;
}

.calculator-popup input[type="text"],
.calculator-popup input[type="number"] {
    width: calc(96% - 12px);
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid var(--app-theme-color);
    border-radius: 4px;
}

.calculator-popup select {
    width: calc(100% - 12px) !important;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid var(--app-theme-color);
    border-radius: 4px;
    height: 30px;
}

.calculator-popup button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator-popup button[type="submit"]:hover {
    background-color: #0056b3;
}

.calculator-popup .results {
    margin-top: 20px;
}

.calculator-popup .results h3 {
    margin-bottom: 10px;
}

.calculator-popup .results p {
    margin-bottom: 5px;
}