<div class="header-container">

  <div class="header-content">


    <div class="title">
      DigiFitIndia
    </div>

    <div class="menu-items">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a routerLink="/bmr-calculator" routerLinkActive="active">
        BMR Calculator
      </a>
      <a routerLink="/tdee-calculator" routerLinkActive="active">
        TDEE Calculator
      </a>
      <a (click) ="openWebPage()">
        Blogs
      </a>
    </div>

  </div>

</div>