<div class="footer-container">
  <div class="content">
    <div class="address-box">
      <div class="address">
        DigiFitIndia <br />
        Sector 83, Gurugram, 122004
      </div>
    </div>

    <ul>
      <li>
        <a href="https://www.instagram.com/digifitindia/" target="_blank">
          Instagram
        </a>
      </li>
      <li class="privacy-policy">
        <a routerLink="/privacy">
          Privacy
        </a>
      </li>
      <li class="privacy-policy">
        <a routerLink="/terms">
          Terms AIzaSyBX3Sj4MiPLgYM80Me8acoACQnCSPvSAGU
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="copy-rights">
  &copy;DigiFitIndia, 2024. All Rights Reserved.
</div>