@import "../../../../style.media-queries";

.footer-container {
  border-top: 2px solid lightgreen;
  padding: 8px 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;

  background: var(--app-theme-color);
  color: var(--app-text-color);

  a {
    color: var(--app-text-color);
  }

  @include layout-bp(xs) {
    padding: 8px 16px;
  }

  .content {
    width: 100%;
    max-width: var(--app-max-width);
    margin: 0 auto;
    padding: 75px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 55px;

    @include layout-bp(xs) {
      flex-direction: column;
      align-items: start;
      padding: 50px 40px;
    }
  }

  .address-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    margin-right: 24px;
    flex-grow: 1;

    .address {
      text-decoration: none;
      line-height: 28px;
      font-size: 16px;
    }
  }

  .contact {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }
  }

  ul {

    list-style-type: none;
    margin-top: 0;
    padding-left: 0;

    a {
      line-height: normal;
      text-decoration: none;
    }

    li {
      padding-bottom: 12px;
    }

  }

}

.copy-rights {
  text-align: center;
  padding: 8px 24px;
  background: var(--app-theme-color);
  color: var(--app-text-color);
}