<div class="home-container">

  <div class="card hero">
    <div class="content">
      <div class="tagline">
      </div>


    </div>
  </div>


  <div class="card">
    <div class="content intro">
      <h4>
        One Stop for all your fitness needs
      </h4>
      <p>
        At DigiFitIndia, we envision fitness achievements to be effortless, delightful, and customized to
        harmonize with your individual lifestyle.
        </p>
    </div>
  </div>

  <div class="card">
    <div class="content intro">
      <h4>
        Our Services
      </h4>
      <div class="img-card">
        <div class="img-container">
          <img src="../../../../assets/undraw_breakfast_psiw (1).svg" />
          <p>Diet plan</p>
        </div>
        <div class="img-container">
          <img src="../../../../assets/undraw_fitness_tracker_3033 (1).svg" />
          <p>Workout Scheduling</p>
        </div>
        <div class="img-container">
          <img src="../../../../assets/undraw_meditation_re_gll0.svg" />
          <p>Mental Health</p>
        </div>
        <div class="img-container">
          <img src="../../../../assets/undraw_personal_training_0dqn.svg" />
          <p>Personal training</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content intro">
      <h4>
        Contact Us
      </h4>
      <div class="contact-us">
        <div class="number">
          <img src="../../../../assets/phone.svg">
          <p> 09582924259</p>
        </div>
        <div class="number">
          <img src="../../../../assets/message.svg">
          <p> 09582924259</p>
        </div>
      </div>
    </div>
    </div>
</div>