<div class="home-container">

  <div class="card hero">
    <div class="content">
      <div class="tagline">
      </div>


    </div>
  </div>


  <div class="card">
    <div class="content intro">
      <h4>
        Welcome to DigiFitIndia
      </h4>
      <p>
        At DigiFitIndia, we believe that achieving your fitness goals should be seamless, enjoyable, and tailored to fit
        your unique lifestyle. We're not just another fitness startup; we're your partners in your journey towards
        holistic wellness, encompassing physical fitness, balanced nutrition, and mental well-being.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="content intro">
      <h4>
        Our Services!
      </h4>
      <div class="img-card">
        <div class="img-container">
          <img src="../../../../assets/undraw_breakfast_psiw (1).svg" />
          <p>Diet plan</p>
        </div>
        <div class="img-container">
          <img src="../../../../assets/undraw_fitness_tracker_3033 (1).svg" />
          <p>Workout Scheduling</p>
        </div>
        <div class="img-container">
          <img src="../../../../assets/undraw_meditation_re_gll0.svg" />
          <p>Mental Health</p>
        </div>
        <div class="img-container">
          <img src="../../../../assets/undraw_personal_training_0dqn.svg" />
          <p>Personal training</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card">
    <div class="content intro">
      <h4>
        Testimonies
      </h4>
      <div>
        <app-reviews></app-reviews>
      </div>
    </div>
  </div> -->


</div>