<div id="googleReviews"></div>
<section id='reviews'>
    <div id="title">
        <h4>Google Reviews</h4>
    </div>
    <div id="reviews" class="row">
        <mat-card *ngFor="let review of reviews" class="card">
            <mat-card-header>
                <div class="avatar" mat-card-avatar>
                    <img src="{{ review.profile_photo_url }}" alt="Avatar" height="50" width="50" />
                </div>
                <mat-card-title>{{ review.author_name }}</mat-card-title>
                <h6>{{ review.relative_time_description }}</h6>
                <div class="stars"><mat-icon *ngFor="let item of 
           createRange(review.rating)">grade</mat-icon></div>
            </mat-card-header>
            <mat-card-content>
                <p>{{ review.text }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <div class="rowButton">
        <a mat-raised-button href="https://digifitindia.com" target="_blank">View all reviews</a>
    </div> -->
</section>