:root {
  --primary-font: "Poppins", sans-serif;
    --secondary-font: "Poppins", sans-serif;
  --app-max-width: 1100px;
  --app-min-height: calc(100vh - 64px);
  --app-primary-color: #6200ea; //rgb(44,44,46);
  --app-border-color: #151414;

  //--app-slate-100: #f1f5f9;
  //--app-slate-200: #e2e8f0;
  //--app-slate-300: #cbd5e1;
  //--app-slate-400: #94a3b8;
  //--app-slate-50: #f8fafc;
  //--app-slate-500: #64748b;
  --app-background-color: #ffffff;
  --app-text-color: rgb(50, 24, 24);
  --app-text-color-2: #9c9cb1;
  --app-theme-color: #b6e6a2;

}