// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@include mat.core();
@import "style.theme";
@import "style.media-queries";

// Custom Typography
$custom-typography: mat.define-typography-config(
  $font-family: var(--primary-font),
);

// Define light theme
$light-primary: mat.define-palette(mat.$deep-purple-palette, A700);
$light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$light-warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
    typography: $custom-typography,
  )
);

// Define dark theme
$dark-primary: mat.define-palette(mat.$deep-purple-palette, A700);
$dark-accent: mat.define-palette(mat.$grey-palette, A200);
$dark-warn: mat.define-palette(mat.$red-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    typography: $custom-typography,
  )
);

// Apply the dark theme by default
@include mat.core-color($light-theme);
@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.all-component-themes($light-theme);

// Apply the light theme only when the `.app-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.app-light-theme {
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.all-component-colors($light-theme);
  --app-border-color: #eaeaea;
  --app-text-color: black;
  --app-background-color: white;
  --app-background-color-2: #eaeaea;
  --app-chart-text-background: #b88df4;
  .token-img {
    background: var(--app-primary-color) !important;
  }
}

/* You can add global styles to this file, and also import other style files */

html {
  background: var(--app-background-color);
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  background: var(--app-background-color);
  color: var(--app-text-color);
}

section {
  max-width: var(--app-max-width);
  margin: 8px auto 0;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

button {
  letter-spacing: 0 !important;
}

.hidden,
[hidden] {
  display: none !important;
}

.app-card,
.app-card-no-padding {
  border: 1px solid var(--app-border-color);
  border-radius: var(--app-border-radius);
  background: var(--app-card-background);
  color: #828283;
  overflow: hidden;
}

.app-card {
  padding: 16px;
}

.app-card-no-padding {
  padding: 0;
}

.app-card2 {
  border: 1px solid var(--app-border-color);
  background: var(--app-background-color-2);
  border-radius: var(--app-border-radius);
  overflow: hidden;
}

.app-links {
  a {
    line-height: 22px;
    height: 18px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 16px;
    padding: 8px 16px;
    display: inline-block;
  }
}

.underline {
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: solid 3px var(--app-light-color);
  left: 0;
  bottom: -10px;
  border-radius: 50%;
  height: 8px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--primary-font), "Helvetica Neue", sans-serif;
}

a {
  color: var(--app-text-color);
  text-decoration: none;
}
